<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>.null</key>
    <string>_null.glif</string>
    <key>nonmarkingreturn</key>
    <string>nonmarkingreturn.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni03D4</key>
    <string>uni03D_4.glif</string>
    <key>glyph5</key>
    <string>glyph5.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>overscore</key>
    <string>overscore.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>mu1</key>
    <string>mu1.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>middot</key>
    <string>middot.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>U02c0</key>
    <string>U_02c0.glif</string>
    <key>U02c1</key>
    <string>U_02c1.glif</string>
    <key>U02d2</key>
    <string>U_02d2.glif</string>
    <key>U02d3</key>
    <string>U_02d3.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>glyph212</key>
    <string>glyph212.glif</string>
    <key>U1e06</key>
    <string>U_1e06.glif</string>
    <key>U1e07</key>
    <string>U_1e07.glif</string>
    <key>U1e0c</key>
    <string>U_1e0c.glif</string>
    <key>U1e0d</key>
    <string>U_1e0d.glif</string>
    <key>U1e0e</key>
    <string>U_1e0e.glif</string>
    <key>U1e0f</key>
    <string>U_1e0f.glif</string>
    <key>U0047U0331</key>
    <string>U_0047U_0331.glif</string>
    <key>U0067U0331</key>
    <string>U_0067U_0331.glif</string>
    <key>U1e24</key>
    <string>U_1e24.glif</string>
    <key>U1e25</key>
    <string>U_1e25.glif</string>
    <key>U1e34</key>
    <string>U_1e34.glif</string>
    <key>U1e35</key>
    <string>U_1e35.glif</string>
    <key>U0050U0331</key>
    <string>U_0050U_0331.glif</string>
    <key>U0070U0331</key>
    <string>U_0070U_0331.glif</string>
    <key>U1e62</key>
    <string>U_1e62.glif</string>
    <key>U1e63</key>
    <string>U_1e63.glif</string>
    <key>U1e6c</key>
    <string>U_1e6c.glif</string>
    <key>U1e6d</key>
    <string>U_1e6d.glif</string>
    <key>U1e6e</key>
    <string>U_1e6e.glif</string>
    <key>U1e6f</key>
    <string>U_1e6f.glif</string>
    <key>U1e92</key>
    <string>U_1e92.glif</string>
    <key>U1e93</key>
    <string>U_1e93.glif</string>
    <key>U0640ThreeQuart</key>
    <string>U_0640T_hreeQ_uart.glif</string>
    <key>U0640Quart</key>
    <string>U_0640Q_uart.glif</string>
    <key>U0640Half</key>
    <string>U_0640H_alf.glif</string>
    <key>U0656</key>
    <string>U_0656.glif</string>
    <key>U0303</key>
    <string>U_0303.glif</string>
    <key>U0304</key>
    <string>U_0304.glif</string>
    <key>U0307</key>
    <string>U_0307.glif</string>
    <key>U0308</key>
    <string>U_0308.glif</string>
    <key>U030a</key>
    <string>U_030a.glif</string>
    <key>U0331</key>
    <string>U_0331.glif</string>
    <key>U0323</key>
    <string>U_0323.glif</string>
    <key>U0324</key>
    <string>U_0324.glif</string>
    <key>U0325</key>
    <string>U_0325.glif</string>
    <key>U032d</key>
    <string>U_032d.glif</string>
    <key>U032e</key>
    <string>U_032e.glif</string>
    <key>U0330</key>
    <string>U_0330.glif</string>
    <key>U060c</key>
    <string>U_060c.glif</string>
    <key>U061b</key>
    <string>U_061b.glif</string>
    <key>U061f</key>
    <string>U_061f.glif</string>
    <key>U0621</key>
    <string>U_0621.glif</string>
    <key>U0640</key>
    <string>U_0640.glif</string>
    <key>U064b</key>
    <string>U_064b.glif</string>
    <key>U064c</key>
    <string>U_064c.glif</string>
    <key>U064d</key>
    <string>U_064d.glif</string>
    <key>U064e</key>
    <string>U_064e.glif</string>
    <key>U064f</key>
    <string>U_064f.glif</string>
    <key>U0650</key>
    <string>U_0650.glif</string>
    <key>U0651</key>
    <string>U_0651.glif</string>
    <key>U0652</key>
    <string>U_0652.glif</string>
    <key>U0653</key>
    <string>U_0653.glif</string>
    <key>U0654</key>
    <string>U_0654.glif</string>
    <key>U0655</key>
    <string>U_0655.glif</string>
    <key>U0660</key>
    <string>U_0660.glif</string>
    <key>U0661</key>
    <string>U_0661.glif</string>
    <key>U0662</key>
    <string>U_0662.glif</string>
    <key>U0663</key>
    <string>U_0663.glif</string>
    <key>U0664</key>
    <string>U_0664.glif</string>
    <key>U0665</key>
    <string>U_0665.glif</string>
    <key>U0666</key>
    <string>U_0666.glif</string>
    <key>U0667</key>
    <string>U_0667.glif</string>
    <key>U0668</key>
    <string>U_0668.glif</string>
    <key>U0669</key>
    <string>U_0669.glif</string>
    <key>U0670</key>
    <string>U_0670.glif</string>
    <key>U0700</key>
    <string>U_0700.glif</string>
    <key>U0701</key>
    <string>U_0701.glif</string>
    <key>U0702</key>
    <string>U_0702.glif</string>
    <key>U0703</key>
    <string>U_0703.glif</string>
    <key>U0704</key>
    <string>U_0704.glif</string>
    <key>U0705</key>
    <string>U_0705.glif</string>
    <key>U0706</key>
    <string>U_0706.glif</string>
    <key>U0707</key>
    <string>U_0707.glif</string>
    <key>U0708</key>
    <string>U_0708.glif</string>
    <key>U0709</key>
    <string>U_0709.glif</string>
    <key>U070a</key>
    <string>U_070a.glif</string>
    <key>U070b</key>
    <string>U_070b.glif</string>
    <key>U070c</key>
    <string>U_070c.glif</string>
    <key>U070d</key>
    <string>U_070d.glif</string>
    <key>U070f</key>
    <string>U_070f.glif</string>
    <key>U0710</key>
    <string>U_0710.glif</string>
    <key>U0711</key>
    <string>U_0711.glif</string>
    <key>U0712</key>
    <string>U_0712.glif</string>
    <key>U0713</key>
    <string>U_0713.glif</string>
    <key>U0714</key>
    <string>U_0714.glif</string>
    <key>U0715</key>
    <string>U_0715.glif</string>
    <key>U0716</key>
    <string>U_0716.glif</string>
    <key>U0717</key>
    <string>U_0717.glif</string>
    <key>U0718</key>
    <string>U_0718.glif</string>
    <key>U0719</key>
    <string>U_0719.glif</string>
    <key>U071a</key>
    <string>U_071a.glif</string>
    <key>U071b</key>
    <string>U_071b.glif</string>
    <key>U071c</key>
    <string>U_071c.glif</string>
    <key>U071d</key>
    <string>U_071d.glif</string>
    <key>U071e</key>
    <string>U_071e.glif</string>
    <key>U071f</key>
    <string>U_071f.glif</string>
    <key>U0720</key>
    <string>U_0720.glif</string>
    <key>U0721</key>
    <string>U_0721.glif</string>
    <key>U0722</key>
    <string>U_0722.glif</string>
    <key>U0723</key>
    <string>U_0723.glif</string>
    <key>U0724</key>
    <string>U_0724.glif</string>
    <key>U0725</key>
    <string>U_0725.glif</string>
    <key>U0726</key>
    <string>U_0726.glif</string>
    <key>U0727</key>
    <string>U_0727.glif</string>
    <key>U0728</key>
    <string>U_0728.glif</string>
    <key>U0729</key>
    <string>U_0729.glif</string>
    <key>U072a</key>
    <string>U_072a.glif</string>
    <key>U072b</key>
    <string>U_072b.glif</string>
    <key>U072c</key>
    <string>U_072c.glif</string>
    <key>U0730</key>
    <string>U_0730.glif</string>
    <key>U0731</key>
    <string>U_0731.glif</string>
    <key>U0732</key>
    <string>U_0732.glif</string>
    <key>U0733</key>
    <string>U_0733.glif</string>
    <key>U0734</key>
    <string>U_0734.glif</string>
    <key>U0735</key>
    <string>U_0735.glif</string>
    <key>U0736</key>
    <string>U_0736.glif</string>
    <key>U0737</key>
    <string>U_0737.glif</string>
    <key>U0738</key>
    <string>U_0738.glif</string>
    <key>U0739</key>
    <string>U_0739.glif</string>
    <key>U073a</key>
    <string>U_073a.glif</string>
    <key>U073b</key>
    <string>U_073b.glif</string>
    <key>U073c</key>
    <string>U_073c.glif</string>
    <key>U073d</key>
    <string>U_073d.glif</string>
    <key>U073e</key>
    <string>U_073e.glif</string>
    <key>U073f</key>
    <string>U_073f.glif</string>
    <key>U0740</key>
    <string>U_0740.glif</string>
    <key>U0741</key>
    <string>U_0741.glif</string>
    <key>U0742</key>
    <string>U_0742.glif</string>
    <key>U0743</key>
    <string>U_0743.glif</string>
    <key>U0744</key>
    <string>U_0744.glif</string>
    <key>U0745</key>
    <string>U_0745.glif</string>
    <key>U0746</key>
    <string>U_0746.glif</string>
    <key>U0747</key>
    <string>U_0747.glif</string>
    <key>U0748</key>
    <string>U_0748.glif</string>
    <key>U0749</key>
    <string>U_0749.glif</string>
    <key>U074a</key>
    <string>U_074a.glif</string>
    <key>U200c</key>
    <string>U_200c.glif</string>
    <key>U200d</key>
    <string>U_200d.glif</string>
    <key>U200e</key>
    <string>U_200e.glif</string>
    <key>U200f</key>
    <string>U_200f.glif</string>
    <key>U25cc</key>
    <string>U_25cc.glif</string>
    <key>U2670</key>
    <string>U_2670.glif</string>
    <key>U2671</key>
    <string>U_2671.glif</string>
    <key>U0710Medi2</key>
    <string>U_0710M_edi2.glif</string>
    <key>U0710Fina1</key>
    <string>U_0710F_ina1.glif</string>
    <key>U0710Fina2</key>
    <string>U_0710F_ina2.glif</string>
    <key>U0710Fina3</key>
    <string>U_0710F_ina3.glif</string>
    <key>U0712Init</key>
    <string>U_0712I_nit.glif</string>
    <key>U0712Medi</key>
    <string>U_0712M_edi.glif</string>
    <key>U0712Fina</key>
    <string>U_0712F_ina.glif</string>
    <key>U0713Init</key>
    <string>U_0713I_nit.glif</string>
    <key>U0713Medi</key>
    <string>U_0713M_edi.glif</string>
    <key>U0713Fina</key>
    <string>U_0713F_ina.glif</string>
    <key>U0714Init</key>
    <string>U_0714I_nit.glif</string>
    <key>U0714Medi</key>
    <string>U_0714M_edi.glif</string>
    <key>U0714Fina</key>
    <string>U_0714F_ina.glif</string>
    <key>U0715Fina</key>
    <string>U_0715F_ina.glif</string>
    <key>U0716Fina</key>
    <string>U_0716F_ina.glif</string>
    <key>U0717Fina</key>
    <string>U_0717F_ina.glif</string>
    <key>U0718Fina</key>
    <string>U_0718F_ina.glif</string>
    <key>U0719Fina</key>
    <string>U_0719F_ina.glif</string>
    <key>U071aInit</key>
    <string>U_071aI_nit.glif</string>
    <key>U071aMedi</key>
    <string>U_071aM_edi.glif</string>
    <key>U071aFina</key>
    <string>U_071aF_ina.glif</string>
    <key>U071bInit</key>
    <string>U_071bI_nit.glif</string>
    <key>U071bMedi</key>
    <string>U_071bM_edi.glif</string>
    <key>U071bFina</key>
    <string>U_071bF_ina.glif</string>
    <key>U071cInit</key>
    <string>U_071cI_nit.glif</string>
    <key>U071cMedi</key>
    <string>U_071cM_edi.glif</string>
    <key>U071cFina</key>
    <string>U_071cF_ina.glif</string>
    <key>U071dInit</key>
    <string>U_071dI_nit.glif</string>
    <key>U071dMedi</key>
    <string>U_071dM_edi.glif</string>
    <key>U071dFina</key>
    <string>U_071dF_ina.glif</string>
    <key>U071eFina</key>
    <string>U_071eF_ina.glif</string>
    <key>U071fInit</key>
    <string>U_071fI_nit.glif</string>
    <key>U071fMedi</key>
    <string>U_071fM_edi.glif</string>
    <key>U071fFina</key>
    <string>U_071fF_ina.glif</string>
    <key>U0720Init</key>
    <string>U_0720I_nit.glif</string>
    <key>U0720Medi</key>
    <string>U_0720M_edi.glif</string>
    <key>U0720Fina</key>
    <string>U_0720F_ina.glif</string>
    <key>U0721Init</key>
    <string>U_0721I_nit.glif</string>
    <key>U0721Medi</key>
    <string>U_0721M_edi.glif</string>
    <key>U0721Fina</key>
    <string>U_0721F_ina.glif</string>
    <key>U0722Init</key>
    <string>U_0722I_nit.glif</string>
    <key>U0722Medi</key>
    <string>U_0722M_edi.glif</string>
    <key>U0722Fina</key>
    <string>U_0722F_ina.glif</string>
    <key>U0723Init</key>
    <string>U_0723I_nit.glif</string>
    <key>U0723Medi</key>
    <string>U_0723M_edi.glif</string>
    <key>U0723Fina</key>
    <string>U_0723F_ina.glif</string>
    <key>U0724Init</key>
    <string>U_0724I_nit.glif</string>
    <key>U0724Medi</key>
    <string>U_0724M_edi.glif</string>
    <key>U0724Fina</key>
    <string>U_0724F_ina.glif</string>
    <key>U0725Init</key>
    <string>U_0725I_nit.glif</string>
    <key>U0725Medi</key>
    <string>U_0725M_edi.glif</string>
    <key>U0725Fina</key>
    <string>U_0725F_ina.glif</string>
    <key>U0726Init</key>
    <string>U_0726I_nit.glif</string>
    <key>U0726Medi</key>
    <string>U_0726M_edi.glif</string>
    <key>U0726Fina</key>
    <string>U_0726F_ina.glif</string>
    <key>U0727Init</key>
    <string>U_0727I_nit.glif</string>
    <key>U0727Medi</key>
    <string>U_0727M_edi.glif</string>
    <key>U0727Fina</key>
    <string>U_0727F_ina.glif</string>
    <key>U0728Fina</key>
    <string>U_0728F_ina.glif</string>
    <key>U0729Init</key>
    <string>U_0729I_nit.glif</string>
    <key>U0729Medi</key>
    <string>U_0729M_edi.glif</string>
    <key>U0729Fina</key>
    <string>U_0729F_ina.glif</string>
    <key>U072aFina</key>
    <string>U_072aF_ina.glif</string>
    <key>U072bInit</key>
    <string>U_072bI_nit.glif</string>
    <key>U072bMedi</key>
    <string>U_072bM_edi.glif</string>
    <key>U072bFina</key>
    <string>U_072bF_ina.glif</string>
    <key>U072cFina</key>
    <string>U_072cF_ina.glif</string>
    <key>U0720U0710Isol</key>
    <string>U_0720U_0710I_sol.glif</string>
    <key>U0720U0710Fina</key>
    <string>U_0720U_0710F_ina.glif</string>
    <key>U0728U0722Isol</key>
    <string>U_0728U_0722I_sol.glif</string>
    <key>U0728U0722Fina</key>
    <string>U_0728U_0722F_ina.glif</string>
    <key>U0710U0720Isol</key>
    <string>U_0710U_0720I_sol.glif</string>
    <key>U0710U0720Fina</key>
    <string>U_0710U_0720F_ina.glif</string>
    <key>U0710U0720Init</key>
    <string>U_0710U_0720I_nit.glif</string>
    <key>U0710U0720Medi</key>
    <string>U_0710U_0720M_edi.glif</string>
    <key>U0713U0720Isol</key>
    <string>U_0713U_0720I_sol.glif</string>
    <key>U0713U0720Fina</key>
    <string>U_0713U_0720F_ina.glif</string>
    <key>U0713U0720Init</key>
    <string>U_0713U_0720I_nit.glif</string>
    <key>U0713U0720Medi</key>
    <string>U_0713U_0720M_edi.glif</string>
    <key>U0713U0725Isol</key>
    <string>U_0713U_0725I_sol.glif</string>
    <key>U0713U0725Fina</key>
    <string>U_0713U_0725F_ina.glif</string>
    <key>U0713U0725Init</key>
    <string>U_0713U_0725I_nit.glif</string>
    <key>U0713U0725Medi</key>
    <string>U_0713U_0725M_edi.glif</string>
    <key>U071bU0725Isol</key>
    <string>U_071bU_0725I_sol.glif</string>
    <key>U071bU0725Fina</key>
    <string>U_071bU_0725F_ina.glif</string>
    <key>U071bU0725Init</key>
    <string>U_071bU_0725I_nit.glif</string>
    <key>U071bU0725Medi</key>
    <string>U_071bU_0725M_edi.glif</string>
    <key>U071dU072cIsol</key>
    <string>U_071dU_072cI_sol.glif</string>
    <key>U071bU072cFina</key>
    <string>U_071bU_072cF_ina.glif</string>
    <key>U071fU0720Isol</key>
    <string>U_071fU_0720I_sol.glif</string>
    <key>U071fU0720Fina</key>
    <string>U_071fU_0720F_ina.glif</string>
    <key>U071fU0720Init</key>
    <string>U_071fU_0720I_nit.glif</string>
    <key>U071fU0720Medi</key>
    <string>U_071fU_0720M_edi.glif</string>
    <key>U071fU072cIsol</key>
    <string>U_071fU_072cI_sol.glif</string>
    <key>U071fU072cFina</key>
    <string>U_071fU_072cF_ina.glif</string>
    <key>U0720U0020U0710Isol</key>
    <string>U_0720U_0020U_0710I_sol.glif</string>
    <key>U0720U0020U0710Fina</key>
    <string>U_0720U_0020U_0710F_ina.glif</string>
    <key>U0720U0720Isol</key>
    <string>U_0720U_0720I_sol.glif</string>
    <key>U0720U0720Fina</key>
    <string>U_0720U_0720F_ina.glif</string>
    <key>U0720U0720Init</key>
    <string>U_0720U_0720I_nit.glif</string>
    <key>U0720U0720Medi</key>
    <string>U_0720U_0720M_edi.glif</string>
    <key>U0722U0710Isol</key>
    <string>U_0722U_0710I_sol.glif</string>
    <key>U0722U0710Fina</key>
    <string>U_0722U_0710F_ina.glif</string>
    <key>U0723U071bIsol</key>
    <string>U_0723U_071bI_sol.glif</string>
    <key>U0723U071bFina</key>
    <string>U_0723U_071bF_ina.glif</string>
    <key>U0723U071bInit</key>
    <string>U_0723U_071bI_nit.glif</string>
    <key>U0723U071bMedi</key>
    <string>U_0723U_071bM_edi.glif</string>
    <key>U071bU0720Isol</key>
    <string>U_071bU_0720I_sol.glif</string>
    <key>U071bU0720Fina</key>
    <string>U_071bU_0720F_ina.glif</string>
    <key>U071bU0720Init</key>
    <string>U_071bU_0720I_nit.glif</string>
    <key>U071bU0720Medi</key>
    <string>U_071bU_0720M_edi.glif</string>
    <key>U072aU0308Isol</key>
    <string>U_072aU_0308I_sol.glif</string>
    <key>U072aU0308Fina</key>
    <string>U_072aU_0308F_ina.glif</string>
    <key>U0725U0020U0710Isol</key>
    <string>U_0725U_0020U_0710I_sol.glif</string>
    <key>U0725U0020U0710Fina</key>
    <string>U_0725U_0020U_0710F_ina.glif</string>
    <key>U071cU0725Isol</key>
    <string>U_071cU_0725I_sol.glif</string>
    <key>U071cU0725Fina</key>
    <string>U_071cU_0725F_ina.glif</string>
    <key>U071cU0725Init</key>
    <string>U_071cU_0725I_nit.glif</string>
    <key>U071cU0725Medi</key>
    <string>U_071cU_0725M_edi.glif</string>
    <key>U072cU0720Isol</key>
    <string>U_072cU_0720I_sol.glif</string>
    <key>U072cU0720Fina</key>
    <string>U_072cU_0720F_ina.glif</string>
    <key>U072cU0720Init</key>
    <string>U_072cU_0720I_nit.glif</string>
    <key>U072cU0720Medi</key>
    <string>U_072cU_0720M_edi.glif</string>
    <key>U071BU0725Fina</key>
    <string>U_071B_U_0725F_ina.glif</string>
    <key>U071BU0725Init</key>
    <string>U_071B_U_0725I_nit.glif</string>
    <key>U071BU0725Medi</key>
    <string>U_071B_U_0725M_edi.glif</string>
    <key>glyph482</key>
    <string>glyph482.glif</string>
    <key>glyph483</key>
    <string>glyph483.glif</string>
    <key>glyph484</key>
    <string>glyph484.glif</string>
    <key>glyph485</key>
    <string>glyph485.glif</string>
    <key>glyph486</key>
    <string>glyph486.glif</string>
    <key>glyph487</key>
    <string>glyph487.glif</string>
    <key>glyph488</key>
    <string>glyph488.glif</string>
    <key>glyph489</key>
    <string>glyph489.glif</string>
    <key>glyph490</key>
    <string>glyph490.glif</string>
    <key>glyph491</key>
    <string>glyph491.glif</string>
    <key>glyph492</key>
    <string>glyph492.glif</string>
    <key>glyph493</key>
    <string>glyph493.glif</string>
    <key>glyph494</key>
    <string>glyph494.glif</string>
    <key>glyph495</key>
    <string>glyph495.glif</string>
    <key>glyph496</key>
    <string>glyph496.glif</string>
    <key>glyph497</key>
    <string>glyph497.glif</string>
    <key>glyph498</key>
    <string>glyph498.glif</string>
    <key>glyph499</key>
    <string>glyph499.glif</string>
    <key>glyph500</key>
    <string>glyph500.glif</string>
    <key>glyph501</key>
    <string>glyph501.glif</string>
    <key>glyph502</key>
    <string>glyph502.glif</string>
    <key>glyph503</key>
    <string>glyph503.glif</string>
    <key>glyph504</key>
    <string>glyph504.glif</string>
    <key>glyph505</key>
    <string>glyph505.glif</string>
    <key>glyph506</key>
    <string>glyph506.glif</string>
    <key>glyph507</key>
    <string>glyph507.glif</string>
    <key>glyph508</key>
    <string>glyph508.glif</string>
    <key>glyph509</key>
    <string>glyph509.glif</string>
    <key>glyph510</key>
    <string>glyph510.glif</string>
    <key>glyph511</key>
    <string>glyph511.glif</string>
    <key>glyph512</key>
    <string>glyph512.glif</string>
    <key>glyph513</key>
    <string>glyph513.glif</string>
    <key>glyph514</key>
    <string>glyph514.glif</string>
    <key>glyph515</key>
    <string>glyph515.glif</string>
    <key>glyph516</key>
    <string>glyph516.glif</string>
    <key>glyph517</key>
    <string>glyph517.glif</string>
    <key>glyph518</key>
    <string>glyph518.glif</string>
    <key>glyph519</key>
    <string>glyph519.glif</string>
    <key>glyph520</key>
    <string>glyph520.glif</string>
    <key>glyph521</key>
    <string>glyph521.glif</string>
    <key>glyph522</key>
    <string>glyph522.glif</string>
    <key>glyph523</key>
    <string>glyph523.glif</string>
    <key>glyph524</key>
    <string>glyph524.glif</string>
    <key>glyph525</key>
    <string>glyph525.glif</string>
    <key>glyph526</key>
    <string>glyph526.glif</string>
    <key>glyph527</key>
    <string>glyph527.glif</string>
    <key>glyph528</key>
    <string>glyph528.glif</string>
    <key>glyph529</key>
    <string>glyph529.glif</string>
    <key>glyph530</key>
    <string>glyph530.glif</string>
    <key>glyph531</key>
    <string>glyph531.glif</string>
    <key>glyph532</key>
    <string>glyph532.glif</string>
    <key>glyph533</key>
    <string>glyph533.glif</string>
    <key>glyph534</key>
    <string>glyph534.glif</string>
    <key>glyph535</key>
    <string>glyph535.glif</string>
    <key>glyph536</key>
    <string>glyph536.glif</string>
    <key>glyph537</key>
    <string>glyph537.glif</string>
    <key>glyph538</key>
    <string>glyph538.glif</string>
    <key>glyph539</key>
    <string>glyph539.glif</string>
    <key>glyph540</key>
    <string>glyph540.glif</string>
    <key>glyph541</key>
    <string>glyph541.glif</string>
    <key>glyph542</key>
    <string>glyph542.glif</string>
    <key>glyph543</key>
    <string>glyph543.glif</string>
    <key>glyph544</key>
    <string>glyph544.glif</string>
    <key>glyph545</key>
    <string>glyph545.glif</string>
    <key>glyph546</key>
    <string>glyph546.glif</string>
    <key>glyph547</key>
    <string>glyph547.glif</string>
    <key>nonbreakingspace</key>
    <string>nonbreakingspace.glif</string>
    <key>glyph549</key>
    <string>glyph549.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bulletmath</key>
    <string>bulletmath.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
  </dict>
</plist>
